<div class="container">
    <div style="text-align:center">
        <h1>Aplicación: {{ titulo }}</h1>
    </div>

    <form>
        <div class="form-group">
            <label for="primernum">Primer Numero:</label>
            <input type="number" class="form-control" id="primernum" name="primernum" placeholder="Escribe Primer Numero"
                [(ngModel)]="primernum" />
        </div>

        <div class="form-group">
            <label for="segundonum">Segundo numero:</label>
            <input type="number" class="form-control" id="segundonum" name="segundonum" placeholder="Escribe Segundo Numero"
                [(ngModel)]="segundonum" />
        </div>

        <button type="submit" class="btn btn-primary" (click)="Sumar()">
            +
        </button>
        
        <button type="submit" class="btn btn-primary" (click)="Restar()">
            -
        </button>

        
        <button type="submit" class="btn btn-primary" (click)="Multiplicar()">
            *
        </button>

        
        <button type="submit" class="btn btn-primary" (click)="Dividir()">
            /
        </button>
    </form>
    <p>Resultado {{ resultado }}</p>
</div>